# Node.js and npm files
node_modules/
package-lock.json

# React Native files
ios/Podfile
ios/Podfile.lock
android/app/src/main/res/values/strings.xml
android/app/src/main/AndroidManifest.xml

# Build and cache files
build/
.cache/
.tmp/

# Log files
logs/
npm-debug.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/
.idea/
*.iml

# Other files
coverage/
jest.config.js
