# requirements.txt

Django==4.2.21
django-crispy-forms==1.11.2
Pillow==10.3.0
django-filter==2.4.0
django-rest-framework==0.1.0
django-allauth==0.41.0
django-debug-toolbar==3.2.2
psycopg2-binary==2.9.3
sqlparse==0.5.0
